<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
    </head>
    
    <body>
      <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/gallery">Gallery</a></li>
        </ul>
      </nav>
  </header>
      <div class="about">

        <h1>About</h1>

        <p> 
          <ul class="about">
            <li>On October 16, 1923, Walt Disney and his brother Roy found the Disney Brothers Cartoon Studio in Hollywood, California.</li>
            <li>The studio, now known as the Walt Disney Company, has had an oversized impact on the entertainment industry and is now one of the largest media companies in the world.</li>
            <li>A talented artist from a young age, Walt Disney drew cartoons for various publications and became interested in cel animation while working for the Kansas City Film Ad Company.</li>
          </ul>
        </p>
        </section>
    </body>
</html>